.input {
  height: 40px;
  border-radius: 8px;
  border: 1px solid gray;
  text-indent: 4px;

  padding: 5px;

  width: 100%;

  &-md {
    position: relative;
    height: 35px;

    padding-left: 20px;
  }
}
